@model VidPaynes.Models.Customers
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<ul>
    <li><strong>Membership: </strong>@Model.MembershipType.MembershipName</li>
    @if (@Model.DOB != null)
    {
        <li><strong>Date of Birth: </strong>@Model.DOB.Value.ToShortDateString()</li>
    }
    @if (Model.isSubscribed)
    {
        <li><strong>Subcribed to Email Notifications</strong></li>
    }
</ul>

@if (Model.MoviesRented != null)
{
    <h2>Current Movies on Rent</h2>
    foreach (var m in Model.MoviesRented)
    {
        <ul>
            <li><strong>Title: </strong>@m.Name</li>
            <li><strong>Genre: </strong>@m.Genre.Name</li>
        </ul>
    }
}